* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #DCDCDD;
}

#homeSection,
#tech,
#projects,
#about {
    background-color: #46494C;
}

#v-pills-tab > a {
    color: #DCDCDD;
}

#v-pills-tab > a.active {
    background-color: #B75D69;
}

#navbar-scrollspy {
    background-color: #46494C;
}

#homeHeader {
    width: 20rem;
    height: 20rem;
    transition: background-color 1s;
}

#homeHeader:hover {
    background-color: #B75D69;
}

.myPills .nav-item a.active{
    background-color: transparent;
    border: 1px solid #DCDCDD;
}

#whiteText {
    color: #DCDCDD;
}

#polygon {
    width: inherit;
    height: 100vh;
    position: fixed-top;
    top: 50px;
    z-index: 0;
    background-image: url("images/axiom-pattern.png");
    clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
}

.hexagon {
    padding: 20px;
    background-color: #4C5C68;
    clip-path: polygon(20% 0%,
                        80% 0%,
                        100% 20%,
                        100% 80%,
                        80% 100%,
                        20% 100%,
                        0% 80%,
                        0 20%);
    border-radius: 25%;
}